.html{
    font-size: 20px;
    background: #9b2a9b;
background: linear-gradient(45deg,rgba(155, 42, 155, 1) 0%, rgba(87, 121, 199, 1) 75%, rgba(83, 201, 237, 1) 100%);
}
.main-container{
    width: 100%;
    height: 100%;
    
}